body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.toc {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  overflow-y: scroll;
}

.toc a, .toc a:visited {
  text-decoration: none;
  color: gray;
}

.toc .selected:visited,
.toc .selected {
  color: #333;
}

.toc a:hover {
  font-weight: bolder;
}
.toc ul {
  list-style: none;
  padding-left: 2em;
}

.toc .level-h0 {
  padding-left: 0.5em;
}

.toc li {
  border-bottom: thin solid silver;
}

.unfolded {
  margin-left: 220px;
}

.close {
  position:fixed;
  left:0;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 0 3px;
  background-color: silver;
  text-align: center;
}

.unfolded .close {
  left: 200px;
}

.self-ref {
  text-decoration: none;
  color: silver;
  font-size: large;
}
h1:hover .self-ref,
h2:hover .self-ref,
h3:hover .self-ref,
h4:hover .self-ref,
h5:hover .self-ref,
h6:hover .self-ref {
  color: black;
}

.code-insert {
  border: medium solid silver;
  border-radius: 4px;
}

.code-insert .header {
  background-color: silver;
  overflow: auto;
  font-family: sans-serif;
  font-size: small;
}

.code-insert .header div {
  padding: 0 2em;
  float: left;
}

.code-insert pre {
  background-color: white;
  padding: 0 1em;
  border: none;
}

.emoji {
  height: 20px;
  width: 20px;
  vertical-align:middle;
}

code {
  background-color: #ddd;
  padding: 0 4px;
}

pre code {
  background-color: white;
}

kbd {
  border: thin solid silver;
  padding: 0 2px;
}
