.app .project .task-list .task {
  cursor: pointer;
}
.app .project .task-list .completed {
  text-decoration: line-through;
  color: silver;
}

.app .project-list .project {
  border-top: thin solid silver;
}

.app .project-list {
  border-top: thin solid silver;
}
