.edit-project {
  border-top: thin solid black;
  margin-top: 1em;
  padding-top: 1em;
}
.form-group {
  composes: global(form-group);
}
.form-control {
  composes: global(form-control);
}

.ok-button {
  composes: global(btn);
  composes: global(btn-primary);
  margin: 0 1em;
}
.cancel-button {
  composes: global(btn);
  composes: global(btn-default);
  margin: 0 1em;
}
