.task {
  cursor: pointer;
}
.task:hover {
  font-weight: bold;
}
.completed {
  text-decoration: line-through;
  color: silver;
}
.descr::before {
  content: '\2022 \00A0 ';
  font-weight: bold;
}

.icon {
  opacity: 0.5;
  margin: 0 0.5em;
}
.icon:hover {
  opacity: 1;
}

.edit-icon {
  composes: icon;
  composes: global(glyphicon);
  composes: global(glyphicon-pencil);
  composes: global(text-primary);
}

.delete-icon {
  composes: icon;
  composes: global(glyphicon);
  composes: global(glyphicon-trash);
  composes: global(text-danger);
}
